.app {
    padding: 1rem;
    font-size: 14px;
    display: flex;
    flex: 1 1;
}

.tree-wrapper {
    width: 100%;
    text-align: center;
}

.tree {
    padding: 10px;
}

.tree-node_text {
    font-size: 0.7rem;
    fill: white;
}

.toolkit > div {
    display: flex;
}

.toolkit input {
    text-align: center;
}

.toolkit_color {
    width: 30px;
    height: 30px;
    border: 2px solid transparent;
}

.toolkit_color-selected {
    border-color: black;
}
